:root {
    /* CSS HEX Colors*/
    --gunmetal: #022b3aff;
    --metallic-seaweed: #1f7a8cff;
    --beau-blue: #bfdbf7ff;
    --lavender-web: #e1e5f2ff;
    --white: #ffffffff;
}

/* css reset */
html, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--gunmetal);
    font-family: "Lato", sans-serif;
}

nav,
nav a {
    color: var(--gunmetal);
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    background-color: var(--gunmetal);
    color: var(--beau-blue);
    border-radius: 4px;
    transition: linear;
}

.sub-bar {
    height: 40px;
    /* set gradient for bar under nav */
    background: var(--metallic-seaweed);
    background: linear-gradient(0deg, var(--metallic-seaweed) 0%, var(--beau-blue)) 35%, var(--lavender-web) 100%;
}

.sub-bar h4 {
    color: var(--gunmetal);
    padding: 0 8px;
}

section h2 {
    color: var(--beau-blue);
}

.section-content {
    color: var(--white);
    border-left: 2px solid var(--metallic-seaweed);
}

.section-content p {
    line-height: 1.6em;
}

#headshot {
    display: block;
    min-width: 50px;
    max-width: 200px;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin: 8px;
    box-shadow: 4px 8px 4px var(--metallic-seaweed);
}

/* CUSTOMIZE THE CAROUSEL, from Boostrap custom components
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* set color for carousel controls */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

.card-title {
    color: var(--metallic-seaweed);
}

.btn {
    color: var(--gunmetal);
    padding: 4px;
}

.btn:hover {
    background-color: var(--lavender-web);
    color: var(--gunmetal);
}

.card-text {
    color: var(--gunmetal);
}
/* End Carousel */

/* change color of links to increase contrast */
.contact-link {
    color: var(--metallic-seaweed);
    background-color: var(--white);
    padding: 2px;
    border-radius: 4px;
    margin: 4px;
}

.contact-link:hover {
    background-color: var(--beau-blue);
    color: var(--gunmetal);
}

/* horizontal line above footer */
hr {
    height: 1px;
    background-color: var(--metallic-seaweed);
    border: none;
    margin: 8px 0;
}

footer {
    color: var(--beau-blue);
}

#copyright::after {
    content: "\00a9";
}
